<app-encabezado />
<main>
  <ul id="usuarios">
    <li>
      <app-usuario
        [usuario]="usuarios[0]"
        (seleccion)="alSeleccionarUsuario($event)"
      />
    </li>
    <li>
      <app-usuario
        [usuario]="usuarios[1]"
        (seleccion)="alSeleccionarUsuario($event)"
      />
    </li>
    <li>
      <app-usuario
        [usuario]="usuarios[2]"
        (seleccion)="alSeleccionarUsuario($event)"
      />
    </li>
    <li>
      <app-usuario
        [usuario]="usuarios[3]"
        (seleccion)="alSeleccionarUsuario($event)"
      />
    </li>
  </ul>
  <app-tarea [nombre]="usuarioSeleccionado.nombre" />
</main>
